[submodule "3rdparty/fmt"]
	path = 3rdparty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "3rdparty/range-v3"]
	path = 3rdparty/range-v3
	url = https://github.com/ericniebler/range-v3/
[submodule "3rdparty/hedley"]
	path = 3rdparty/hedley
	url = https://github.com/nemequ/hedley
[submodule "3rdparty/enum.hpp"]
	path = 3rdparty/enum.hpp
	url = https://github.com/BlackMATov/enum.hpp
[submodule "3rdparty/delegate"]
	path = 3rdparty/delegate
	url = https://github.com/rosbacke/delegate
[submodule "3rdparty/callable_traits"]
	path = 3rdparty/callable_traits
	url = https://github.com/boostorg/callable_traits
[submodule "3rdparty/visit"]
	path = 3rdparty/visit
	url = https://github.com/rollbear/visit
