[submodule "3rdparty/fmt"]
	path = 3rdparty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "3rdparty/hedley"]
	path = 3rdparty/hedley
	url = https://github.com/nemequ/hedley
[submodule "3rdparty/enum.hpp"]
	path = 3rdparty/enum.hpp
	url = https://github.com/BlackMATov/enum.hpp
[submodule "3rdparty/visit"]
	path = 3rdparty/visit
	url = git@git.je.vin:jevin/rollbear-visit.git
[submodule "3rdparty/nanorange"]
	path = 3rdparty/nanorange
	url = https://github.com/tcbrindle/NanoRange
[submodule "3rdparty/callable_traits"]
	path = 3rdparty/callable_traits
	url = https://github.com/boostorg/callable_traits
[submodule "3rdparty/static_string"]
	path = 3rdparty/static_string
	url = git@git.je.vin:jevin/static_string.git
[submodule "3rdparty/static_vector"]
	path = 3rdparty/static_vector
	url = git@git.je.vin:jevin/static_vector.git
[submodule "3rdparty/cxxopts"]
	path = 3rdparty/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "3rdparty/Catch2"]
	path = 3rdparty/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "3rdparty/arch-arm64"]
	path = 3rdparty/arch-arm64
	url = git@git.je.vin:jevin/arch-arm64.git
[submodule "3rdparty/binaryninja-api"]
	path = 3rdparty/binaryninja-api
	url = https://github.com/Vector35/binaryninja-api
