[submodule "3rdparty/apfs-fuse-embedded"]
	path = 3rdparty/apfs-fuse-embedded
	url = git@git.je.vin:jevin/apfs-fuse.git

[submodule "3rdparty/arch-arm64"]
	path = 3rdparty/arch-arm64
	url = git@git.je.vin:jevin/arch-arm64.git

[submodule "3rdparty/benchmark"]
	path = 3rdparty/benchmark
	url = git@git.je.vin:jevin/benchmark.git

[submodule "3rdparty/callable_traits"]
	path = 3rdparty/callable_traits
	url = https://github.com/boostorg/callable_traits

[submodule "3rdparty/Catch2"]
	path = 3rdparty/Catch2
	url = https://github.com/catchorg/Catch2

[submodule "3rdparty/concurrent-resource"]
	path = 3rdparty/concurrent-resource
	url = https://github.com/mustafakemalgilor/concurrent-resource

[submodule "3rdparty/cpp17-semaphore"]
	path = 3rdparty/cpp17-semaphore
	url = https://github.com/graham-riches/cpp17-semaphore

[submodule "3rdparty/cxxopts"]
	path = 3rdparty/cxxopts
	url = https://github.com/jarro2783/cxxopts

[submodule "3rdparty/enum.hpp"]
	path = 3rdparty/enum.hpp
	url = https://github.com/BlackMATov/enum.hpp

[submodule "3rdparty/fmt"]
	path = 3rdparty/fmt
	url = https://github.com/fmtlib/fmt

[submodule "3rdparty/nanobench"]
	path = 3rdparty/nanobench
	url = https://github.com/martinus/nanobench

[submodule "3rdparty/nanorange"]
	path = 3rdparty/nanorange
	url = git@git.je.vin:jevin/NanoRange.git

[submodule "3rdparty/perf-macos"]
	path = 3rdparty/perf-macos
	url = git@git.je.vin:jevin/perf-macos.git

[submodule "3rdparty/static_string"]
	path = 3rdparty/static_string
	url = git@git.je.vin:jevin/static_string.git

[submodule "3rdparty/static_vector"]
	path = 3rdparty/static_vector
	url = git@git.je.vin:jevin/static_vector.git

[submodule "3rdparty/thread-pool"]
	path = 3rdparty/thread-pool
	url = https://github.com/bshoshany/thread-pool

[submodule "3rdparty/uleb128"]
	path = 3rdparty/uleb128
	url = git@github.com:jevinskie/uleb128.git

[submodule "3rdparty/visit"]
	path = 3rdparty/visit
	url = git@git.je.vin:jevin/rollbear-visit.git
